*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #f5f5f5;
}

.dark-color{
    background: #333333;
}


.navbar{
    box-shadow: 0 0 0 0 !important;
    font-size: 13px !important;
    padding: 3px;

}
.dropdown-menu{
    min-width: 160px;
    left: 2px !important;
    font-size: 14px !important;
    background-color: #333 !important;
    background-clip: padding-box;
    border-radius: 0px;
    border: none !important;
    /* padding: 2px,0px !important; */
}

.navbar .dropdown-menu a {
    color: aliceblue !important;
    padding: 0px 10px !important;
}
.navbar .dropdown-menu a:hover{
    background: #b5a766;
}

/* .twitter span i{
    color: aqua;
}
.facebook :hover{
    background-color: #B5A766 !important;
    color: #fff;
    border: 1px solid #B5A766;
} */

.cart-btn{
    width:300px;
    border:0px;
    padding:2px 50px;
    /* background:transparent; */
    color: #B5A766;
    padding-bottom:-10px;
    cursor: pointer;
    /* border:1px solid #B5A766 !important; */
}

.cart-btn span{
    line-height: 50px;
}

.header{
    margin-top: 50px; 
}

.cart-dropdown{
    background: #fff !important;
    border:1px solid #B5A766 !important;
    width: 100%;
}

.border-onclick{
    border:1px solid #B5A766 !important;
}
.catagory-nav ul li{
    display: inline;
}
.catagory-nav ul li a{
    color: #b5a766;
}
.cat-menu{
   /* top:10px !important; */
   background-color: antiquewhite !important;
}

/* ------------nav-bar hover ------------ */


.navitem-down:hover>.dropdown-menu{
    display: block;
}

/* ------------carosoul icon------------- */
.caroshin{
    font-size: 20px;
}

.feature-title{
    color: #333;
    font-size: 32px;
    font-weight: 350;
}
.feature-title span{
    border-top: 1px solid #b5a766;
    border-bottom: 2px solid #ddd;
    padding: 5px;
}
#feature-title{
    border-top: 1px solid #b5a766;
    border-bottom: 2px solid #ddd;
    padding: 5px;
    color: #333;
    font-size: 32px;
    font-weight: 500;
}


.crt-bttn{
    width: 100%;
}

.bttn1{
    background: #b5a766;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    width: 60%;
    /* padding:20px 36px; */
    
}
 .bttn2{
    background: #b5a766;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    width: 20%;
    /* padding:6px 10px; */
   
}
 .bttn3{
    background: #b5a766;
    color: #fff;
    font-size: 12px;
    width: 20%;
    /* padding:6px 10px; */
}

.price{
    color: #b5a766;
    font-size: 16px;
    font-weight: 600;
}
.price-old{
    text-decoration: line-through;
    color: #99999C;
    font-size: 16px;
    margin-left: 6px;
    font-weight: normal;
}
.price-tax{
    font-size: 14px;
    color: #999;
    font-weight: bolder;
}
.card-title strong a{
    color: #b5a766;
    font-size: 23px;
}

/* --------------visit our store--------------- */

#overlay-visit{
    background-image: url(../img/banners.png);
    
    background-repeat: repeat;
    min-height: 600px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    background-position-x: 0%;
    background-position-y: 0%;
    
    background-attachment: scroll;
    
    background-origin: padding-box;
    background-clip: border-box;
    padding: 20px 0;
    margin: 30px 0;
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;

}
.store-info-bttn{
    color: white;
    background-color: #b5a766;
    border: 1px solid #b5a766;
    border-radius: 0px; 
}
.store-info-bttn:hover{
    color: #fff;
}
.store-info-bttn1{
    background-color: #fff;
    color: #b5a766;
    border: 1px solid #b5a766;
    border-radius: 0px;
}
.store-info-bttn1:hover{
    background-color: #b5a766;
    color: #fff;
}

/* --------------owl carouswl brand item---------------- */



  
  @-webkit-keyframes scroll {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(calc(-250px * 7));
              transform: translateX(calc(-250px * 7));
    }
  }
  
  @keyframes scroll {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(calc(-250px * 7));
              transform: translateX(calc(-250px * 7));
    }
  }
  .slider {
    background: white;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 960px;
  }
  .slider::before, .slider::after {
    background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
  }
  .slider::after {
    right: 0;
    top: 0;
    -webkit-transform: rotateZ(180deg);
            transform: rotateZ(180deg);
  }
  .slider::before {
    left: 0;
    top: 0;
  }
  .slider .slide-track {
    -webkit-animation: scroll 40s linear infinite;
            animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14);
  }
  .slider .slide {
    height: 100px;
    width: 250px;
  }
  
/* --------------about us & newsletter--------------- */

.about-card{
    background-color: #ececec;
    border: none;
    font-family: 'Open Sans', sans-serif;

    margin-bottom: 0px !important;
    color: #44445e;

}
.about-card-text{
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}